# source
**/*.ts
*.ts
**/*.tsx
*.tsx

# definitions
!**/*.d.ts
!*.d.ts

# configuration
.pnpm-store/*
pnpm-lock.yaml
bun.lockb
tsconfig.json
tsconfig.*.json
*.config.*

*.tsbuildinfo

.devcontainer/*
.github/*
.husky/*
.vscode/*
.eslintcache
.markdownlintignore
.prettierignore
.textlintrc
coverage/*
